<html>
  	<head>
    	<title>Youtube sentiment analysis</title>
  	</head>
  	<body>
    	<div>Youtube sentiment analysis</div>
    	<hr>
		{% block content %}
    		<h1>Welcome! Please enter a youtube url to start mining</h1>
    		<form action="" method="post">
    		<label for="input_string"> URL: </label>
    		<input id="input_string" type="text" name="input_string">
    		<input type="submit" value="OK">
			</form>
		{% if input %}
			{{ input }}
			<h2> STATS </h2>
			<img src="{{ url_for('static', filename='statistics.png') }}"></img>
		{% else %}
			{{ 'Please enter a valid URL' }}
		{% endif %}
		{% endblock %}
	</body>
</html>